body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hgroup {
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
    border: 3px;
    flex-direction: column;
}

.projectInfo {
    padding: 1em;
    display: flex;
    gap: 3em;
}

.fullPattern {
    display: flex;
}

h2, h3 {
    margin: 0px;
}

.writtenPattern {
    background-color: rgb(177, 210, 239);
    flex: 1;
    height: 700px;
}

.chart {
    background-color: rgb(218, 179, 255);
    flex: 1;
}

.chart img {
    display: block;
    margin: 0 auto;
    height: 30em;
    padding: 1em;
}

nav {
    display: flex;
    justify-content: center;
    gap: 2em;
}