hgroup {
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
    border: 3px;
    flex-direction: column;
}

.test {
    padding: 1em;
    display: flex;
    gap: 3em;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.writtenPattern {
    background-color: rgb(177, 210, 239);
    flex: 1;
    height: 700px;
}

.chart {
    background-color: rgb(218, 179, 255);
    flex: 1;
}

.sektion {
    display: flex;
}

h2 {
    padding: 1em;
    margin: 0px;
}

img {
    height: 30em;
    padding: 50px;
}

